.container {
    width: 960px;
    display: flex;
    margin: 15px auto;
    box-sizing: border-box;
    min-height: 500px;
    .full-information {
        width: 24%;
        margin-right: 1%;
        border: 1px solid black;
        height: 200px;
    }
    .table {
        width: 75%;
        .clear {
            clear: both;
        }
    }
}